{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="w-100 m-0 p-3 row justify-content-center">
  <div class="sort pt-4 col-12 col-sm-11 col-md-10">
    <div class="jumbotron pt-2 pb-2" style="background-color: #f0f2f4">
      <h1 class="display-4">Sign Up</h1>
      <p class="lead">
        <div class="">
          <strong><em>Attention:</em></strong>
        </div>
        <div class="">
          <span style="font-size: 14px; line-height: 14px;">Django automatically hashes passwords so they will never be stored on our database. Also, I have set up Let's Encrypt to create SSL/TLS Certificates. Regardless, to keep your information safe I do not requrest any personal information like email addresses, etc.
        </div>
        <br>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </p>
    <p class="lead"><em>The IMTwitter world is your oyster!</em></p>
  </div>
</div>
</div>
{% endblock %}
