{% extends 'base.html' %}

{% block content %}
<div class="sort p-3">
  {% with url_name=request.resolver_match.url_name %}
    {% if url_name == 'add_comment_to_post' %}
    <div class="jumbotron pt-2 pb-2" style="background-color: #f0f2f4">
      <h1 class="display-4">comment</h1>
      <p class="lead"><strong>{{ user }}</strong>, what would you like to say in response to:</p>
      <div class="card p-0 m-3" style="width: 80%; background-color:#F8F9FA;">
        <div class="card-body">
          <h5 class="card-title">Post by <strong>{{ post.user }}</strong> <span class="font-italic small mb-2 text-muted">on {{ post.pud_date }}</span></h5>
          <p class="card-text">{{ post }}</p>
        </div>
      </div>
      <form method="POST" class="post-form">{% csrf_token %}
        <span class="text-black-50"><em>Character Limit: 140</em></span>
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default text-white"  style="background-color:#1F7A8C;">Send</button>
      </form><br>
      <p class="lead"><em>The IMTwitter world is your oyster!</em></p>
    </div>
    {% endif %}
    {% if url_name == 'edit_comment' %}
    <div class="jumbotron pt-2 pb-2" style="background-color: #f0f2f4">
      <h1 class="display-4">edit comment</h1>
      <p class="lead"><strong>{{ user }}</strong>, how would you like to chage this?</p>
      <form method="POST" class="post-form">{% csrf_token %}
        <span class="text-black-50"><em>Character Limit: 140</em></span>
        {{ form.as_p }}
        {{ comment }}
        <button type="submit" class="save btn btn-default text-white"  style="background-color:#1F7A8C;">Send</button>
      </form><br>
      <p class="lead"><em>The IMTwitter world is your oyster!</em></p>
    </div>
    {% endif %}
    {% if url_name == 'delete_comment' %}
    <div class="jumbotron pt-2 pb-2" style="background-color: #f0f2f4">
      <h1 class="display-4">delete?</h1>
      <p class="lead"><strong>{{ user }}</strong>, you are about to delete your post. Are you sure you want to do this</p>
      <div class="card p-0 m-3" style="width: 80%; background-color:#F8F9FA;">
        <div class="card-body">
          <h5 class="card-title">Reply by <strong>{{ comment.user }}</strong> <span class="font-italic small mb-2 text-muted">on {{ comment.pub_date }}</span></h5>
          <p class="card-text">{{ comment.comment_text }}</p>
        </div>
      </div>
      <form method="POST" class="post-form">{% csrf_token %}
        <button type="submit" class="save btn btn-danger text-white">Delete</button>
      </form>
      <p class="lead"><em>The IMTwitter world is your oyster!</em></p>
    </div>
    {% endif %}
  {% endwith %}
</div>
{% endblock %}
