{% extends 'base.html' %}

{% block title %}IMTwitter{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="w-100 sort m-0 p-3 row justify-content-center">
  <div class="pt-4 col-12 col-sm-11 col-md-10">
    <div class="jumbotron pt-2 pb-2" style="background-color: #f0f2f4">
      <h1 class="display-4">Hi {{ user.username }}!</h1>
      <p class="lead">Go to your <a href="{% url 'dashboard' %}">dashboard</a></p>
      <p class="lead"><a href="{% url 'logout' %}">Logout</a></p>
    </div>
  </div>
</div>
{% else %}
<div class="w-100 sort p-3 row justify-content-center">
  <div class="pt-4 col-12 col-sm-11 col-md-10">
    <div class="jumbotron pt-2 pb-2" style="background-color: #f0f2f4">
      <h1 class="display-4">You are not logged in.</h1>
      <p class="lead"><a href="{% url 'login' %}">Login</a> to access the IMTwitter, a social media platform.</p>
      <p class="lead">Or <a href="{% url 'signup' %}">create an account</a>.</p>
      <p class="lead"><em>The IMTwitter world is your oyster!</em></p>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
